@model dynamic
@{
    ViewData["Title"] = "Admin Dashboard";
    var viewType = ViewBag.ViewType as string;
}

<div class="container my-5">
    <div class="d-flex justify-content-between"> 
        <div class="btn-group mb-4" role="group">
            <a asp-controller="Admin" asp-action="ManageItems" class="btn btn-outline-primary @(viewType == "Items" ? "active" : "")">Items</a>
            <a asp-controller="Admin" asp-action="ManageUsers" class="btn btn-outline-primary @(viewType == "Users" ? "active" : "")">Users</a>
            <a asp-controller="Admin" asp-action="ViewAdmins" class="btn btn-outline-primary @(viewType == "Admins" ? "active" : "")">Admins</a>
        </div>
        <div class="">
            @if(viewType == "Items")
            {   
                <a asp-controller="Item" asp-action="Create" class="btn btn-success">Add Item +</a>
            }
        </div>
    </div>

    @if (viewType == "Items")
    {
        <table class="table table-dark table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Serial</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>$@item.Price.ToString("N2")</td>
                        <td>@item.SerialNumber</td>
                        <td>@item.Category?.Name</td>
                        <td>
                            <a asp-controller="Item" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                            <a asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (viewType == "Users")
    {
        <table class="table table-dark table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.Role</td>
                        <td>
                            <a asp-controller="Admin" asp-action="PromoteToAdmin" asp-route-id="@user.Id" class="btn btn-sm btn-warning">Promote</a>
                            @if (user.IsBlocked)
                            {
                                <a asp-controller="Admin" asp-action="UnBlacklist" asp-route-id="@user.Id" class="btn btn-sm btn-success">UnBlock</a>
                            }
                            else
                            {
                                <a asp-controller="Admin" asp-action="Blacklist" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Block</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (viewType == "Admins")
    {
        <table class="table table-dark table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.Role</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>